:root{
    --main-color :  #217713;
    --second-color : #f07b0d;
    --body-color : #D0FCFF;
    --font-color : white;
    --main-font:'Open Sans', sans-serif;
    --heading-font : 'Raleway', sans-serif;
}


section{
    margin-top: 50px;
}
.navbar .navbar-wrapper{
    display: flex;
    justify-content: space-between  ;
    margin: 50px 150px;
}

.navbar-wrapper .logo{
    font-size: 24px;
    font-family: var(--main-font);
}
.navbar-wrapper .logo span{
    color: var(--second-color);
    font-size: 40px;
}
.navbar-wrapper .menu-list {
    display: flex;
    gap: 50px;
}
.navbar-wrapper .menu-list ul{
    display: flex;
    gap: 50px;
}
.navbar-wrapper .menu-list li{
    text-decoration: none;
    list-style: none;
    color: rgba(30, 30, 30, 0.666);
    font-weight: 600;
    font-family: var(--main-font);
    cursor: pointer;
}
.navbar-wrapper .menu-list li:hover{
    color: black;
}

.navbar-wrapper .login-btn{
    background-color: var(--second-color);
    padding: 20px 40px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-family: var(--main-font);
}
.fix-navbar{
    display: none;
}

/*  */

.home .home-wrapper .home-1{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
}

.home .home-wrapper .home-1 .heading-home{
    font-size: 64px;
    font-weight: 500;
    width: 651px;
    height: 192px;
    line-height: 96px;
    letter-spacing: 0.01rem;
    font-family: var(--main-font);
}

.home .home-wrapper .home-1 .subheading-home{
    font-size: 20px;
    width: 300px;
    height: 102px;
    line-height: 34px;
    margin-top: 50px;
    font-family: var(--main-font);
    color: rgba(30, 30, 30, 0.666);
    display: flex;
    gap: 5px;
}
.home .home-wrapper .home-1 .subheading-home .rect{
    background-color: var(--second-color);
    width: 70px;
    height: 3px;
    color: var(--second-color);
    margin-top: 15px;
    margin-right: 10px;
}

.home .home-wrapper .image-home{
    margin-top: 70px;
}

.home .home-wrapper .card-wrapper{
    margin-top: 0;
    background-color: white;
    z-index: 1;
    padding: 30px;
    position: absolute;
    bottom: 0;
    /* float: left; */
    box-shadow:  2px 2px 2px 2px rgba(88, 88, 88, 0.22);
}
.home .home-wrapper .card-list{
    display: flex;
    gap: 90px;
}

.home .home-wrapper .card-list label{
    display: grid;
    gap: 10px;
    
}

.home .home-wrapper .card-list .btn-search{
    padding: 20px 30px;
    background-color: var(--second-color);
    color: white;
    cursor: pointer;
}

.home .home-wrapper .card-wrapper label{
    text-align: center;
}
.home .home-wrapper .card-wrapper select{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
}


/*  */

.product-wrapper {
    margin: 0px 20px;
}
.product-wrapper .nav-heading{
    display: flex;
    justify-content: space-between;
    gap: 0px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.product-wrapper .nav-heading .menu-product{
    display: flex;
    gap: 50px;
    align-items: center;
    font-family: var(--main-font);
    font-weight: 500;
    justify-content: space-between;
}

.product-wrapper .nav-heading .menu-product h1{
    font-size: 20px;
}.product-wrapper .nav-heading .menu-product p{
    font-size: 14px;
}
.product-wrapper .nav-heading .menu-product p:hover{
    color: var(--second-color);
}

.product-wrapper .nav-heading .btn-all{
    font-size: 24px;
    margin-top: 20px;
    color: rgba(21, 20, 20, 0.951);
    cursor: pointer;
    font-weight: bold;
    
}
.product-wrapper .nav-heading .btn-all:hover{
    opacity: 60%;
}


.product-wrapper .box-card .detail-head{
    font-size: 32px;
    font-family: var(--main-font);
}

.product-wrapper .box-card .subhead-detail{
    font-size: 16px;
    color: rgba(80, 78, 78, 0.822);
}
.product-wrapper .box-card .price{
    font-size: 24px;
    margin-top: 5px;
    color: var(--second-color);
}


.product-wrapper .product-lib{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-wrapper .product-lib .box-card .img-wrapper{
    position: relative;
    cursor: pointer;

}
.product-wrapper .box-card p {
    position: absolute;
    background-color: white;
    padding: 10px;
    font-size: 18px;
    color: orange;
    bottom: 0px;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
    
}

/*  */

.review-wrapper .row1-view{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

.review-wrapper .row1-view .heading-review{
    font-size: 40px;
    width: 600px;
}

.review-wrapper .row1-view .btn-view{
    font-size: 24px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
}
.review-wrapper .row1-view .btn-view:hover{
    opacity: 60%;
}

.review-wrapper .row2-view{
    margin: 40px 20px;
    display: flex;
    gap: 20px;
    overflow-y: hidden;
    cursor: pointer;
    
}
.review-wrapper .row2-view .view-card .review-card{
    font-size: 24px;
    max-width: 400px;
    font-family: var(--main-font);
    font-weight: 100;
    color: rgba(0, 0, 0, 0.788);
    margin-top: 20px;
}

.recommend-wrapper .recommend-row1{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    font-family: var(--main-font);
    cursor: pointer;
}
.recommend-wrapper .recommend-row1 .head{
    font-size: 40px;
    width: 350px;
}

.recommend-wrapper .recommend-row1 .btn-all{
    font-size: 24px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
}

.recommend-wrapper .recommend-row1 .btn-all:hover{
    opacity: 60%;
}

.recommend-wrapper .wrapper-row2{
    margin: 50px 20px;
    font-family: var(--main-font);
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.recommend-wrapper .wrapper-row2 .heading{
    font-size: 24px;
    margin-top: 10px;
}

.recommend-wrapper .wrapper-row2 .subheading{
    font-size: 14px;
    margin-top: 10px;
    opacity: 60%;
}

.recommend-wrapper .wrapper-row2 .box-recommend2{
    display: flex;
    gap: 80px;
    cursor: pointer;
}
.recommend-wrapper .wrapper-row2 .box-wrapper{
    margin-top: 30px;
}
.recommend-wrapper .wrapper-row2 .box-recommend2 .h1{
    font-size: 24px;
}
.recommend-wrapper .wrapper-row2 .box-recommend2 p{
    font-size: 16px;
    opacity: 60%;
}

.recommend-wrapper .wrapper-row2 .box-recommend2 img{
    width: 50%;
    height: 50%;
}

.recommend-wrapper .wrapper-row2 .wrapper-box2{
    display: grid;
}

/*  */


.subs .subscribe-wrapper{
    padding: 150px;
    background-color: var(--second-color);
    text-align: center;
    font-size: 48px;
    color: white;
    margin-left: 150px;
    font-family: var(--main-font);
    height: 150px;
}

.subs .subscribe-wrapper .heading{
    position: absolute;
    font-size: 48px;
    color: white;
    width: 600px;
    left: 50%;
    transform: translate(-50%,-50%);

}

.subs .subscribe-wrapper .email{
    padding: 20px;
    background-color: white;
    margin-top: 150px;
    display: flex;
    border: none;
    color: var(--second-color);
    justify-content: space-between;
    font-size: 16px;
}
.subs .subscribe-wrapper .email input{
    border: none;
}

.subs .subscribe-wrapper .email .btn-subs{
    padding: 10px 30px;
    background-color: var(--second-color);
    color: white    ;
    cursor: pointer;
}

/*  */

footer .footer-wrapper{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
    font-family: var(--main-font);
}

footer .footer-wrapper .omah{
    font-size: 30px;
    opacity: 80%;
}

footer .footer-wrapper .sosmed{
    display: flex;
}

@media screen and (max-width : 650px){

.navbar{
    display: none;
}


.navbar .navbar-wrapper{
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px;
    border-bottom: var(--second-color) solid 2px; 
    z-index: 2;
    background-color: white;
    top: 75px;
    left: 0;
}

.navbar-wrapper .logo{
    font-size: 24px;
    font-family: var(--main-font);
}
.navbar-wrapper .logo span{
    color: var(--second-color);
    font-size: 40px;
}
.navbar-wrapper .menu-list {
    display: flex;
    gap: 10px;
}
.navbar-wrapper .menu-list ul{
    display: flex;
    gap: 20px;
}
.navbar-wrapper .menu-list li{
    text-decoration: none;
    list-style: none;
    color: rgba(30, 30, 30, 0.953);
    font-weight: 600;
    font-family: var(--main-font);
    cursor: pointer;
}
.navbar-wrapper .menu-list li:hover{
    color: grey;
}

.navbar-wrapper .login-btn{
    background-color: var(--second-color);
    padding: 20px 40px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-family: var(--main-font);
    font-size: 14px;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.navbar-wrapper .login-btn:hover{
    background-color: grey;
}

.navbar.active{
    display: block;
    margin-top: 70px;
    left: 0;
    top: 0;
}


.fix-navbar{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 20px;
    background-color: var(--second-color);
    font-size: 30px;
    color: white;
    position: fixed;
    z-index: 2;
    width: 400px;
    top: 0px;
    left: 0;
}

.home .home-wrapper .home-1{
    display: block;
    margin: 90px 20px;
    letter-spacing: normal;
}

.home .home-wrapper .home-1 .heading-home{
    font-size: 30px;
    font-weight: 600;
    /* letter-spacing: 0.01rem; */
    font-family: var(--main-font);
    width: 300px;
    height: auto;
    line-height: 40px;
    letter-spacing: normal;
    font-family: var(--main-font);
}

.home .home-wrapper .home-1 .subheading-home{
    font-size: 20px;
    margin-top: 10px;
    font-family: var(--main-font);
    color: rgba(30, 30, 30, 0.666);
    display: block;
    width:320px;
}
.home .home-wrapper .home-1 .subheading-home .rect{
    background-color: var(--second-color);
    width: 70px;
    height: 3px;
    color: var(--second-color);
    margin-top: 15px;
    margin-right: 10px;
}

.home .home-wrapper .image-home{
    position: relative;
    margin: 60px 10px;
    width:300px;
}

.home .home-wrapper .image-home img{
    width:100%;
}
.home .home-wrapper .card-wrapper{
    display:flex;
    flex-wrap: wrap;
    width: 200px;
    margin: 10px 0px;
    background-color: white;
    z-index: 0;
    padding: 20px 50px;
    position: relative;
    box-shadow:2px 2px 2px 2px rgba(88, 88, 88, 0.22);
    left: 0%;
}
.home .home-wrapper .card-list{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.home .home-wrapper .card-list label{
    display: grid;
    gap: 5px;
    margin-top:40px;
    font-weight:bold;
    
}


.home .home-wrapper .card-list .btn-search{
    padding: 20px 30px;
    background-color: var(--second-color);
    color: white;
    cursor: pointer;
    margin-top:20px;
}

.home .home-wrapper .card-wrapper label{
    text-align: center;
}
.home .home-wrapper .card-wrapper select{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
}
.product-wrapper {
    margin: 0px 10px;
}
.product-wrapper .nav-heading{
    display: flex;
    text-align: center;
    gap: 0px;
    flex-wrap: wrap;
    
}

.product-wrapper .nav-heading .menu-product{
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: var(--main-font);
    font-weight: 500;
    text-align: center;
}

.product-wrapper .nav-heading .menu-product h1{
    font-size: 20px;
}.product-wrapper .nav-heading .menu-product p{
    font-size: 14px;
}
.product-wrapper .nav-heading .menu-product p:hover{
    color: var(--second-color);
}

.product-wrapper .nav-heading .btn-all{
    font-size: 18px;
    margin-top: 20px;
    color: rgba(10, 1, 1, 0.968);
    cursor: pointer;
    font-weight: bold;
    
}
.product-wrapper .nav-heading .btn-all:hover{
    opacity: 60%;
}


.product-wrapper .box-card .detail-head{
    font-size: 32px;
    font-family: var(--main-font);
}

.product-wrapper .box-card .subhead-detail{
    font-size: 16px;
    color: rgba(80, 78, 78, 0.822);
}
.product-wrapper .box-card .price{
    font-size: 24px;
    margin-top: 5px;
    color: var(--second-color);
}


.product-wrapper .product-lib{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-wrapper .product-lib .box-card .img-wrapper{
    position: relative;
    cursor: pointer;

}
.product-wrapper .box-card p {
    position: absolute;
    background-color: white;
    padding: 10px;
    font-size: 18px;
    color: orange;
    bottom: 0px;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
    
}
.review-wrapper .row1-view{
    display: block;
    margin: 20px 10px;
}

.review-wrapper .row1-view .heading-review{
    font-size: 28px;
    width: 300px;
    font-weight:500;
    
}

.review-wrapper .row1-view .btn-view{
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    float: left;
}
.review-wrapper .row1-view .btn-view:hover{
    opacity: 60%;
}

.review-wrapper .row2-view{
    margin: 50px 10px;
    display: flex;
    gap: 10px;
    overflow-y: hidden;
    cursor: pointer;
    width:360px;
    
}
.review-wrapper .row2-view .view-card .review-card{
    font-size: 24px;
    max-width: 300px;
    font-family: var(--main-font);
    font-weight: 100;
    color: rgba(0, 0, 0, 0.788);
    margin-top: 20px;
}

.recommend-wrapper .recommend-row1{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 20px 10px;
    font-family: var(--main-font);
    cursor: pointer;
}
.recommend-wrapper .recommend-row1 .head{
    font-size: 32px;
    width: 300px;
}

.recommend-wrapper .recommend-row1 .btn-all{
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
}

.recommend-wrapper .recommend-row1 .btn-all:hover{
    opacity: 60%;
}

.recommend-wrapper .wrapper-row2{
    margin: 50px 10px;
    font-family: var(--main-font);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    flex-wrap:wrap;
    width:300px;
}

.recommend-wrapper .wrapper-row2 .recommend-row2 .img-wrap-row2{
    width: 300px;
    margin: 0px;
}

.recommend-wrapper .wrapper-row2 .recommend-row2 img{
    width: 100%;
}

.recommend-wrapper .wrapper-row2 .heading{
    font-size: 24px;
    margin-top: 10px;
}

.recommend-wrapper .wrapper-row2 .subheading{
    font-size: 14px;
    margin-top: 10px;
    opacity: 60%;
}

.recommend-wrapper .wrapper-row2 .box-recommend2{
    display: flex;
    gap: 50px;
    cursor: pointer;
    margin-top: 50px;
}
.recommend-wrapper .wrapper-row2 .box-wrapper{
    margin-top: 0px;
}
.recommend-wrapper .wrapper-row2 .box-recommend2 h1{
    font-size: 14px;
    width: 150px;
}
.recommend-wrapper .wrapper-row2 .box-recommend2 p{
    font-size: 16px;
    opacity: 60%;
}

.recommend-wrapper .wrapper-row2 .box-recommend2 img{
    width: 100%;
    height: 50%;
}

.recommend-wrapper .wrapper-row2 .wrapper-box2{
    display: grid;
}

/*  */


.subs .subscribe-wrapper{
    padding: 30px;
    background-color: var(--second-color);
    text-align: center;
    font-size: 18px;
    color: white;
    margin-left: 20px;
    font-family: var(--main-font);
    height: 200px;
    width: 300px;
}

.subs .subscribe-wrapper .heading{
    position: relative;
    font-size: 28px;
    color: white;
    width: 300px;
    text-align: center;
    height: 0px;
    margin: 0px;
}

.subs .subscribe-wrapper .email{
    padding: 20px;
    background-color: white;
    margin-top: 90px;
    display: flex;
    border: none;
    color: var(--second-color);
    justify-content: space-between;
    font-size: 16px;
}
.subs .subscribe-wrapper .email input{
    border: none;
    width: 100px;
}

.subs .subscribe-wrapper .email .btn-subs{
    padding: 10px 30px;
    background-color: var(--second-color);
    color: white;
    cursor: pointer;
}

footer .footer-wrapper{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;
    font-family: var(--main-font);
}

footer .footer-wrapper .omah{
    font-size: 20px;
    opacity: 80%;
}

footer .footer-wrapper .sosmed{
    display: flex;
}

}
